<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FellowshipFungi"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.RecognitionActivity"
            android:exported="true"
            android:label="@string/textRecognitionTitle" />

        <activity
            android:name=".controllers.MainMenuActivity"
            android:exported="true" />

        <activity
            android:name=".controllers.CuriosityActivity"
            android:exported="true"
            android:label="@string/textCuriosityTitle" />

        <activity
            android:name=".controllers.CreateEnconterActivity"
            android:exported="true"
            android:label="@string/textCreateEnconterTitle" />
    </application>

</manifest>